@import "./components/variables";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
    background: url(./images/code__BG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: $primary-color;  
}

.container{
  background-color: $secondary-color;
  height: 250px;
  width: 300px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 20px;
  padding: 20px;
  opacity: 0.8;
}

.label{
  font-size: 1rem;
  color: $primary-color;
  
}
.submit, .clear{
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

