@import "./components/variables";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
    background: url(./images/code__BG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: $primary-color;  
  font-size: 2rem;
}

.container{
  background-color: $secondary-color;
  height: 250px;
  width: 300px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 20px;
  padding: 20px;
  opacity: 0.9;
}

.label{
  font-size: 1rem;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 800;
}
.submit, .clear{
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

textarea{
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  main{
  display: flex;
  justify-content: space-around;
  }
  .container{
  background-color: $secondary-color;
  height: 500px;
  width: 500px;
  margin: 20px;
  padding: 20px;
  opacity: 0.9;
  }
  .header{
    font-size: 4rem;
  }
  .label{
    font-size: 2rem;
  }
  textarea{
    width: 100%;
    height: 30vh;
  }

}
